In [3]:
using DataFrames
dv = @data([NA, 3, 2, 5, 4])

5-element DataArrays.DataArray{Int64,1}:
  NA
 3
 2
 5
 4

In [4]:
using DataFrames
mean(dv)

NA

In [5]:
mean(dropna(dv))

3.5

In [6]:
dm = @data([NA 0.0; 0.0 1.0])
dm * dm

2x2 DataArrays.DataArray{Float64,2}:
 NA   NA
 NA  1.0

In [7]:
dm = @data([1 0.0; 0.0 1.0])
dm * dm

2x2 DataArrays.DataArray{Float64,2}:
 1.0  0.0
 0.0  1.0

In [8]:
dm = @data([2 0.0; 0.0 1.0])
dm * dm

2x2 DataArrays.DataArray{Float64,2}:
 4.0  0.0
 0.0  1.0

In [5]:
using RDatasets
iris = dataset("datasets", "iris")
head(iris)

6×5 DataFrames.DataFrame
│ Row │ SepalLength │ SepalWidth │ PetalLength │ PetalWidth │ Species  │
├─────┼─────────────┼────────────┼─────────────┼────────────┼──────────┤
│ 1   │ 5.1         │ 3.5        │ 1.4         │ 0.2        │ "setosa" │
│ 2   │ 4.9         │ 3.0        │ 1.4         │ 0.2        │ "setosa" │
│ 3   │ 4.7         │ 3.2        │ 1.3         │ 0.2        │ "setosa" │
│ 4   │ 4.6         │ 3.1        │ 1.5         │ 0.2        │ "setosa" │
│ 5   │ 5.0         │ 3.6        │ 1.4         │ 0.2        │ "setosa" │
│ 6   │ 5.4         │ 3.9        │ 1.7         │ 0.4        │ "setosa" │